.container-card {
    width: 90%;
    margin: 40px auto;
    padding: 30px;
    
    background: #fff;
    border: 2px solid rgb(36, 93, 252);
    border-radius: 8px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.12);
}

.container-card h2 {
    text-align: center;
    color: #1f64d8;
    margin-bottom: 30px;
    font-weight: bold;
}

body{
    background-color: #f2f2f2;
}